// base colors //
$white: #efedef;
$dark: #18191a;
$lite: #ceccce;
$pale: #acacac;

// fancy colors
$primary: #ad3a43;
$secondary: #3c332c;

// extra colors //
$none: #ffffff00;
$fade: #2220221a;

// allerts colors //
$info: #207799;
$success: #28bf43;
$warning: #c99039;
$danger: #c52e56;;

