@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes input-border {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}