// base colors //
$white: #efedef;
$lite: #ceccce;
$dark: #222022;
$primary: #6ead3a;
$secondary: #4c4947;

// extra colors //
$none: #ffffff00;
$fade: #22202263;
$fade-ligth: #ceccce3d;

// state colors //
$info: #207799;
$success: #34c872;
$warning: #c99039;
$danger: #c52e56;;

// bg class names
.bg-lite {
    background-color: $lite !important;
}
.bg-dark {
    background-color: $dark !important;
}

// dark grad
@mixin darg-grad {
    background: rgb(34,32,34) !important;
    background: linear-gradient(94deg, rgba(34,32,34,1) 0%, rgba(76,73,71,1) 100%) !important;
}