// base colors //
$lite: rgb(220, 220, 220);
$dark: rgb(20, 22, 22);
$primary: rgb(28, 167, 162);
$secondary: rgb(37, 49, 49);

// extra colors //
$none: rgb(0, 0, 0, 0);
$fade: rgba(0, 0, 0, 0.1);
$fade-ligth: rgba(0, 0, 0, 0.3);
$grey: rgb(94, 103, 103);

// state colors //
$info: rgb(0, 150, 200);
$success: rgb(50, 200, 40);
$warning: rgb(200, 187, 0);
$danger: rgb(200, 0, 43);

// bg class names
.bg-lite {
    background-color: $lite !important;
}
.bg-dark {
    background-color: $dark !important;
}