// @ Base
@import 'base/_reset';
@import 'base/_mixin';
@import 'base/_colors';
@import 'base/_animations';
@import 'base/_fonts';
@import 'base/_text';



// @ Page Wrappers
body {
    overflow-x: hidden !important;
    font-family: sans-serif;
    background-color: $dark;
}
.wrapper {
    min-width: 100vw;
    min-height: 100vh !important;
}
.wrapper-y {
    @extend .wrapper;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}
.wrapper-x {
    @extend .wrapper;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
}
 