.alert-smal {
    width: 300px;
    height: fit-content;
    min-height: 120px;
    background-color: $lite;
    position: fixed;
    border-radius: 0.25rem;
    transform: scale(0.98);
    transition: transform 0.3s ease;
    animation: fade-scale-show  0.5s ease;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $fade;
        padding: 0.5rem;
    }

    &__message {
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &[data-alert-type="info"] {
        & .alert-smal__header {
            color: $info;
        }
    }

    &[data-alert-type="success"] {
        & .alert-smal__header {
            color: $success;
        }
    }

    &[data-alert-type="warning"] {
        & .alert-smal__header {
            color: $warning;
        }
    }

    &[data-alert-type="danger"] {
        & .alert-smal__header {
            color: $danger;
        }
    }

    &:hover {
        transform: scale(1);
    }

    &[data-alert-x="start"] {
        left: 1rem;
    }

    &[data-alert-x="center"] {
        right: calc(50% - 150px);
    }

    &[data-alert-x="end"] {
        right: 1rem;
    }

    &[data-alert-y="start"] {
        top: 1rem;
    }

    &[data-alert-y="center"] {
        bottom: 50%;
    }

    &[data-alert-y="end"] {
        bottom: 1rem;
    }
}