// Form Fields
.field-container {
    width: 100%;
    height: fit-content;
    margin: 0.5rem 0;
    & span {
        display: block;
        margin: 0.5rem 0;
        font-family: monospace;
        & i {
            color: $fade;
        }
    }
    & .field-wrapper {
        width: 100%;
        height: fit-content;
        & .field {
            width: 100%;
            height: 30px;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            background-color: $lite;
            border: 1px solid $fade;
            transition: border-color 0.4s ease;
            &::placeholder {
                transition: opacity 0.4s ease;
            }
            &:hover, &:focus {
                border-color: $primary;
            }
            &:focus {
                &::placeholder {
                    opacity: 0.3;
                }
            }
        }
    }
}
.search-container {
    width: 100%;
    height: fit-content;
    & .search-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .btn-search {
            border-radius: 0 0.25rem 0.25rem 0;
            border: 1px solid $fade;
        }
    }
    & .search-field {
        padding: 0.5rem;
        flex: 1 1 auto;
        background-color: $lite;
        border: 1px solid $fade;
        border-radius: 0.25rem 0 0 0.25rem;
        transition: border-color 0.3s ease;
        &::placeholder {
            transition: opacity 0.4s ease;
        }
        &:hover, &:focus {
            border-color: $primary;
        }
        &:focus {
            &::placeholder {
                opacity: 0.3;
            }
        }
    }
}
.checkbox {
    display: flex;
    align-items: center;
    & label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0.5rem 0.5rem 0.5rem 0;
        border-radius: 0.25rem;
        border: 1px solid $fade;
        background-color: $none;
        color: $none;
        font-size: 14px;
        transition: border-color 0.4s ease, background-color 0.4s 0.3s ease, color 0.4s ease, opacity 0.4s ease;
        opacity: 0.9;
        & i {
            transition: transform 0.4s ease;
            transform: scale(0);
        }
        &:hover {
            border-color: $primary;
            opacity: 1;
        }
    }

    & input:checked + label {
        transition: border-color 0.4s ease, background-color 0.4s ease, color 0.4s 0.3s ease, opacity 0.4s ease;
        background-color: $primary;
        color: $secondary;
        & i {
            transform: scale(1);
            transition: transform 0.4s 0.3s ease;
        }
    }

    & input:disabled + label {
        border-color: $fade !important;
        opacity: 1;
        color: $fade;
        & i {
            transform: scale(1);
        }
    }
}
.radio {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 0;
    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5rem;
        background-color: $none;
        border-radius: 50%;
        border: 1px solid $fade;
        position: relative;
        cursor: pointer;
        transition: border-color 0.4s ease;
        &::before {
            content: '';
            width:0.5rem;
            height:0.5rem;
            background-color: $none;
            position: absolute;
            border-radius: 50%;
            transition: background-color 0.4s ease, transform 0.4s ease;
            transform: scale(0);
        }
    }
    & input:checked + label {
        border-color: $primary;
        &::before {
            transform: scale(1);
            background-color: $primary;
        }
    }
    & input:disabled + label {
        color: $fade;
        font-size: 12px;
    }
}
